<h1 class="mt-4">Learning Ruby on Rails</h1>
<div class="clearfix p-2">
  <p>
    This is an example project made based on
    <%= link_to "tutorial from railsgirls", "http://guides.railsgirls.com/", class: "text-muted" %>
    website as part of RoR introduction sessions
  </p>
</div>
